<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bahe</title>

    {{ 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{content_for_header}}
</head>
<body>
{% render 'header' %}

<main>
{{content_for_layout}}
</main>

    {{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' | script_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js' | script_tag }}
    {{ 'js/main.js' | asset_url | script_tag }}
</body>
</html>