<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bahe</title>
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' | stylesheet_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}

    {{ 'css/style.css' | asset_url | stylesheet_tag }}
    {{content_for_header}}
    <style>
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
            flex-direction: column;
                justify-content: unset;

        }
    .cartToast{
        z-index: 9999 !important;
    }
    .toast-body{
        background-color: green !important;
    color: white !important;
    }
    .fa{
        color: #294834;
    }
    .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 16px 24px;
            background-color: #f9f9e8;
            color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
        }
        
        .logo {
            font-size: 20px;
            font-weight: bold;
        }
        .logo img{
            z-index: 9999;
    position: absolute;
        }
        
        .nav-links {
            display: flex;
            list-style: none;
        }
        
        .nav-links li {
            margin: 0 16px;
        }
        
        .nav-links li a {
            color: #294834;
            text-decoration: none;
        }
    
    </style>
</head>
<body>

 {% render 'header' %}

        {{content_for_layout}}
  
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' | script_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js' | script_tag }}
    {{ 'js/main.js' | asset_url | script_tag }}
</body>
</html>